$cBlue: rgb(80, 77, 253);
$cGray: #444;
$cBeige:rgb(253, 253, 133);

body {
  font-family: 'Roboto', sans-serif;
  color: $cGray;
}

img {
  width: 100%;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  color: #fff;
  letter-spacing: .1rem;
}

p{
  font-size: 18px;
}

li {
  list-style: none;
}

.title {
  background-color: $cBlue;
  padding: 30px;
  text-align: center;
  h2{
    line-height: 36px;
    letter-spacing: .2rem;
  }
}


.header {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: $cBlue;
  &__title {
    margin-left: 10px;
    color: #fff;
    h1 {
      letter-spacing: .1rem;
      font-size: 20px;
    }
  }
  &__pc-menu {
    display: none;
  }
  &__menu {
    #g-nav{
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position:fixed;
    z-index: 999;
    /*ナビのスタート位置と形状*/
      top:0;
      right: -120%;
      width:100%;
      height: 100vh;/*ナビの高さ*/
      background: $cBlue;
      /*動き*/
      transition: all 0.6s;
    }

    /*アクティブクラスがついたら位置を0に*/
    #g-nav.panelactive{
        right: 0;
    }

    /*ナビゲーションの縦スクロール*/
    #g-nav.panelactive #g-nav-list{
        /*ナビの数が増えた場合縦スクロール*/
        position: fixed;
        z-index: 999; 
        width: 100%;
        height: 100vh;/*表示する高さ*/
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }

    /*ナビゲーション*/
    #g-nav ul {
        /*ナビゲーション天地中央揃え*/
        position: absolute;
        z-index: 999;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
    }

    /*リストのレイアウト設定*/

    #g-nav li{
      list-style: none;
        text-align: center;
    }

    #g-nav li a{
      color: #fff;
      text-decoration: none;
      padding:10px;
      display: block;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-weight: bold;
    }

    /*========= ボタンのためのCSS ===============*/
    .openbtn{
      position: absolute;
      z-index: 9999;/*ボタンを最前面に*/
      top:0;
      right:0;
      cursor: pointer;
      width: 50px;
      height:50px;
    }
      
    /*×に変化*/	
    .openbtn span{
      display: inline-block;
      transition: all .4s;
      position: absolute;
      left: 14px;
      height: 1px;
      border-radius: 2px;
      background-color: #fff;
      width: 45%;
    }

    .openbtn span:nth-of-type(1) {
      top:15px;	
    }

    .openbtn span:nth-of-type(2) {
      top:23px;
    }

    .openbtn span:nth-of-type(3) {
      top:31px;
    }

    .openbtn.active span:nth-of-type(1) {
        top: 18px;
        left: 18px;
        transform: translateY(6px) rotate(-45deg);
        width: 30%;
    }

    .openbtn.active span:nth-of-type(2) {
      opacity: 0;
    }

    .openbtn.active span:nth-of-type(3){
        top: 30px;
        left: 18px;
        transform: translateY(-6px) rotate(45deg);
        width: 30%;
    }
  }
}

.first-view {
  background-image: url('../images/23279047_s.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  position: relative;
  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
    font-size: 28px;
    line-height: 30px;
    letter-spacing: .05rem;
    width: 100%;
    h1 {
      margin: 0 auto 60px;
      font-size: 36px;
      letter-spacing: .2rem;
      font-family: 'Noto Serif JP', serif;
      font-size: 40px;
      text-shadow: 1px 1px 1px #000;
    }
    p{
      font-size: 20px;
      text-shadow: 1px 1px 1px #000;
      text-align: center;
      padding: 0 30px;
      color: $cBeige;
      margin-bottom: 5%;
    }
  }
}

.btn {
  display: inline-block;
  padding: 30px 50px;
  text-align: center;
  border-radius: 50px;
  background-color: rgb(21, 21, 61);
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: all .8s;
}
.btn:hover{
  opacity: 0.8;
}

/* problem */
.problem{
  padding: 50px 10%;
  &__text {
    margin-top: 30px;
    p{
      margin-bottom: 30px;
      line-height: 30px;
      span {
        font-size: 20px;
        font-weight: 600;
        line-height: 36px;
      }
    }
    ul{
      margin-bottom: 30px;
      li{
        margin-bottom: 10px;
      }
    }
  }
}

/* features */
.features {
  &__title {
    @extend .title;
  }
  &__text {
    margin: 30px auto;
    line-height: 30px;
    h3 {
      text-align: center;
      line-height: 36px;
      span {
        color: $cBeige;
        text-shadow: 1px 1px 1px #000;
      }
    }
    p {
      width: 80%;
      margin: 50px auto;
      span{
        font-size: 20px;
        font-weight: 600;
        color: $cBeige;
        text-shadow: 1px 1px 1px #000;

      }
    }
  }
}

/* course */
.course {
  background-color: #eee;
  padding-bottom: 50px;
  &__title {
    @extend .title;
  }
  &__step{
    background-color: #fff;
    margin: 50px 20px;
    padding: 20px;
    border-radius: 20px;
    h3{
      text-align: center;
      margin-bottom: 30px;
      text-decoration: underline;
      text-decoration-color: $cBlue;
      font-size: 22px;
    }
    img{
      box-shadow: 4px 6px 4px #000;
    }
    p{
      margin:20px 10px;
      line-height: 25px;
      span{
        color: $cBeige;
        text-shadow: 1px 1px 1px #000;
      }
    }
  }
  &__step:last-of-type{
    margin-bottom: 0;
  }
}

/* instructor */
.instructor {
  &__title{
    @extend .title;
  }
  &__content {
    margin: 50px auto 0;
    padding: 0 20px 50px ;
    max-width: 1200px;
    .image-area {
      text-align: center;
      img{
        border-radius: 50%;
        box-shadow: 4px 6px 4px #000;
      }
    }
    .text-area {
      h2{
        color: $cGray;
        text-align: center;
        margin: 20px 0;
        span{
          font-size: 20px;
        }
      }
      p{
        line-height: 25px;
      }
    }
  }
}

/* students */
.students {
  background-color: #eee;
  &__title {
    @extend .title;
  }

  &__content{
    margin: 80px auto 0;
    padding: 0 20px 80px;
    max-width: 1200px;
    .content-card {
      background-color: #fff;
      padding: 10px;
      margin-bottom: 30px;
      border-radius: 10px;
      p {
        line-height: 25px;
        span {
          color: rgb(253, 70, 70);
        }
      }
      p:nth-child(2) {
        font-size: 12px;
      }
    }
    .content-card:last-of-type{
      margin-bottom: 0;
    }
  }
}

/* question */
.question{
  background-color: #eee;
  &__title {
    @extend .title;
  }

  &__content {
    .accordion-area {
      margin: 80px auto 0;
      padding: 0 20px 80px;
      max-width: 1200px;
    }
    .question-item {
      margin-bottom: 30px;
      background-color: #fff;
    }
    .question-item:last-of-type {
      margin-bottom: 0;
    }
    .question-title {
      position: relative;/*+マークの位置基準とするためrelative指定*/
      cursor: pointer;
      font-size:1rem;
      font-weight: normal;
      padding: 30px;
      transition: all .5s ease;
    }

    /*アイコンの＋と×*/
    .question-title::before,
    .question-title::after{
      position: absolute;
      content:'';
      width: 15px;
      height: 2px;
      background-color: #333;
    }
    .question-title::before{
      top:48%;
      right: 30px;
      transform: rotate(0deg);
    }
    .question-title::after{
      top:48%;
      right: 30px;
      transform: rotate(90deg);

    }
    /*　closeというクラスがついたら形状変化　*/
    .question-title.close::before{
      transform: rotate(45deg);
    }

    .question-title.close::after{
      transform: rotate(-45deg);
    }

    /*アコーディオンで現れるエリア*/
    .box {
      display: none;/*はじめは非表示*/
      background: #fff;
      padding: 0 30px 30px 30px;
      p{
        border-top: 1px solid #eee;
        padding-top: 30px;
      }
    }
  }
}

/* btn-area */
.btn-area {
  background-image: url('../images/glenn-carstens-peters-npxXWgQ33ZQ-unsplash.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 50vh;
  text-align: center;
  position: relative;
  &__content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    p {
      color: #fff;
      text-shadow: 1px 1px 1px #000;
      font-weight: 600;
      margin-bottom: 30px;
      line-height: 30px;
    }
  }
}

/* footer */
.footer {
  background-color: $cBlue;
  text-align: center;
  padding: 100px 0;
  color: #fff;
}



@media (min-width: 768px){
  @import '_responsive';
}
