@charset "UTF-8";
body {
  font-family: 'Roboto', sans-serif;
  color: #444;
}

img {
  width: 100%;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  color: #fff;
  letter-spacing: .1rem;
}

p {
  font-size: 18px;
}

li {
  list-style: none;
}

.title, .features__title, .course__title, .instructor__title, .students__title, .question__title {
  background-color: #504dfd;
  padding: 30px;
  text-align: center;
}

.title h2, .features__title h2, .course__title h2, .instructor__title h2, .students__title h2, .question__title h2 {
  line-height: 36px;
  letter-spacing: .2rem;
}

.header {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #504dfd;
}

.header__title {
  margin-left: 10px;
  color: #fff;
}

.header__title h1 {
  letter-spacing: .1rem;
  font-size: 20px;
}

.header__pc-menu {
  display: none;
}

.header__menu {
  /*アクティブクラスがついたら位置を0に*/
  /*ナビゲーションの縦スクロール*/
  /*ナビゲーション*/
  /*リストのレイアウト設定*/
  /*========= ボタンのためのCSS ===============*/
  /*×に変化*/
}

.header__menu #g-nav {
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position: fixed;
  z-index: 999;
  /*ナビのスタート位置と形状*/
  top: 0;
  right: -120%;
  width: 100%;
  height: 100vh;
  /*ナビの高さ*/
  background: #504dfd;
  /*動き*/
  transition: all 0.6s;
}

.header__menu #g-nav.panelactive {
  right: 0;
}

.header__menu #g-nav.panelactive #g-nav-list {
  /*ナビの数が増えた場合縦スクロール*/
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  /*表示する高さ*/
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.header__menu #g-nav ul {
  /*ナビゲーション天地中央揃え*/
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__menu #g-nav li {
  list-style: none;
  text-align: center;
}

.header__menu #g-nav li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.header__menu .openbtn {
  position: absolute;
  z-index: 9999;
  /*ボタンを最前面に*/
  top: 0;
  right: 0;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.header__menu .openbtn span {
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 14px;
  height: 1px;
  border-radius: 2px;
  background-color: #fff;
  width: 45%;
}

.header__menu .openbtn span:nth-of-type(1) {
  top: 15px;
}

.header__menu .openbtn span:nth-of-type(2) {
  top: 23px;
}

.header__menu .openbtn span:nth-of-type(3) {
  top: 31px;
}

.header__menu .openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.header__menu .openbtn.active span:nth-of-type(2) {
  opacity: 0;
}

.header__menu .openbtn.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

.first-view {
  background-image: url("../images/23279047_s.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  position: relative;
}

.first-view__title {
  padding-top: 200px;
  text-align: center;
  color: #fff;
  font-size: 28px;
  line-height: 30px;
  letter-spacing: .05rem;
  width: 100%;
}

.first-view__title h1 {
  margin: 0 auto 60px;
  font-size: 36px;
  letter-spacing: .2rem;
  font-family: 'Noto Serif JP', serif;
  font-size: 40px;
  text-shadow: 1px 1px 1px #000;
}

.first-view__title p {
  font-size: 20px;
  text-shadow: 1px 1px 1px #000;
  text-align: center;
  padding: 0 30px;
  color: #fdfd85;
  margin-bottom: 150px;
}

.btn {
  display: inline-block;
  padding: 30px 50px;
  text-align: center;
  border-radius: 50px;
  background-color: #15153d;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: all .8s;
}

.btn:hover {
  opacity: 0.8;
}

/* problem */
.problem {
  padding: 50px 10%;
}

.problem__text {
  margin-top: 30px;
}

.problem__text p {
  margin-bottom: 30px;
  line-height: 30px;
}

.problem__text p span {
  font-size: 20px;
  font-weight: 600;
  line-height: 36px;
}

.problem__text ul {
  margin-bottom: 30px;
}

.problem__text ul li {
  margin-bottom: 10px;
}

/* features */
.features__text {
  margin: 30px auto;
  line-height: 30px;
}

.features__text h3 {
  text-align: center;
  line-height: 36px;
}

.features__text h3 span {
  color: #fdfd85;
  text-shadow: 1px 1px 1px #000;
}

.features__text p {
  width: 80%;
  margin: 50px auto;
}

.features__text p span {
  font-size: 20px;
  font-weight: 600;
  color: #fdfd85;
  text-shadow: 1px 1px 1px #000;
}

/* course */
.course {
  background-color: #eee;
  padding-bottom: 50px;
}

.course__step {
  background-color: #fff;
  margin: 50px 20px;
  padding: 20px;
  border-radius: 20px;
}

.course__step h3 {
  text-align: center;
  margin-bottom: 30px;
  text-decoration: underline;
  text-decoration-color: #504dfd;
  font-size: 22px;
}

.course__step img {
  box-shadow: 4px 6px 4px #000;
}

.course__step p {
  margin: 20px 10px;
  line-height: 25px;
}

.course__step p span {
  color: #fdfd85;
  text-shadow: 1px 1px 1px #000;
}

.course__step:last-of-type {
  margin-bottom: 0;
}

/* instructor */
.instructor__content {
  margin: 50px auto 0;
  padding: 0 20px 50px;
  max-width: 1200px;
}

.instructor__content .image-area {
  text-align: center;
}

.instructor__content .image-area img {
  border-radius: 50%;
  box-shadow: 4px 6px 4px #000;
}

.instructor__content .text-area h2 {
  color: #444;
  text-align: center;
  margin: 20px 0;
}

.instructor__content .text-area h2 span {
  font-size: 20px;
}

.instructor__content .text-area p {
  line-height: 25px;
}

/* students */
.students {
  background-color: #eee;
}

.students__content {
  margin: 80px auto 0;
  padding: 0 20px 80px;
  max-width: 1200px;
}

.students__content .content-card {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.students__content .content-card p {
  line-height: 25px;
}

.students__content .content-card p span {
  color: #fd4646;
}

.students__content .content-card p:nth-child(2) {
  font-size: 12px;
}

.students__content .content-card:last-of-type {
  margin-bottom: 0;
}

/* question */
.question {
  background-color: #eee;
}

.question__content {
  /*アイコンの＋と×*/
  /*　closeというクラスがついたら形状変化　*/
  /*アコーディオンで現れるエリア*/
}

.question__content .accordion-area {
  margin: 80px auto 0;
  padding: 0 20px 80px;
  max-width: 1200px;
}

.question__content .question-item {
  margin-bottom: 30px;
  background-color: #fff;
}

.question__content .question-item:last-of-type {
  margin-bottom: 0;
}

.question__content .question-title {
  position: relative;
  /*+マークの位置基準とするためrelative指定*/
  cursor: pointer;
  font-size: 1rem;
  font-weight: normal;
  padding: 30px;
  transition: all .5s ease;
}

.question__content .question-title::before,
.question__content .question-title::after {
  position: absolute;
  content: '';
  width: 15px;
  height: 2px;
  background-color: #333;
}

.question__content .question-title::before {
  top: 48%;
  right: 30px;
  transform: rotate(0deg);
}

.question__content .question-title::after {
  top: 48%;
  right: 30px;
  transform: rotate(90deg);
}

.question__content .question-title.close::before {
  transform: rotate(45deg);
}

.question__content .question-title.close::after {
  transform: rotate(-45deg);
}

.question__content .box {
  display: none;
  /*はじめは非表示*/
  background: #fff;
  padding: 0 30px 30px 30px;
}

.question__content .box p {
  border-top: 1px solid #eee;
  padding-top: 30px;
}

/* btn-area */
.btn-area {
  background-image: url("../images/glenn-carstens-peters-npxXWgQ33ZQ-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 40vh;
  text-align: center;
}

.btn-area p {
  padding-top: 50px;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  font-weight: 600;
  margin-bottom: 30px;
  line-height: 30px;
}

/* footer */
.footer {
  background-color: #504dfd;
  text-align: center;
  padding: 100px 0;
  color: #fff;
}

@media (min-width: 768px) {
  h4 {
    font-size: 24px;
  }
  p {
    font-size: 20px;
  }
  .header {
    justify-content: space-between;
    height: 80px;
  }
  .header__pc-menu {
    display: flex;
    margin-right: 20px;
  }
  .header__pc-list {
    color: #fff;
    margin: 0 20px;
    transition: all .5s;
  }
  .header__pc-list a {
    color: inherit;
    text-decoration: none;
  }
  .header__pc-list:hover {
    color: black;
  }
  .header__menu {
    display: none;
  }
  .first-view__title h1 {
    font-size: 60px;
  }
  .first-view__title p {
    font-size: 30px;
  }
  .problem {
    display: flex;
    justify-content: center;
  }
  .problem__text {
    margin: 50px auto 100px;
    font-size: 20px;
  }
  .problem p span {
    display: inline-block;
    font-size: 30px;
    margin-top: 10px;
  }
  .features__text {
    margin: 200px auto;
  }
  .features__text h3 {
    font-size: 30px;
  }
  .features__text br {
    display: none;
  }
  .features__text p {
    line-height: 40px;
  }
  .features__text p span {
    font-size: 30px;
  }
  .course__step {
    margin: 100px;
  }
  .course__step h3 {
    margin-top: 30px;
    font-size: 30px;
  }
  .course__step .content-area {
    display: flex;
    justify-content: space-around;
  }
  .course__step .content-area img {
    width: 50%;
    margin: 100px 50px;
  }
  .course__step .content-area p {
    width: 50%;
    margin-top: 100px;
    font-size: 20px;
    line-height: 30px;
  }
  .course__step .pc {
    flex-direction: row-reverse;
  }
  .instructor__content {
    display: flex;
    margin: 100px auto 0;
    padding-bottom: 100px;
  }
  .instructor__content .image-area {
    width: 40%;
    margin: 20px;
  }
  .instructor__content .text-area {
    width: 60%;
  }
  .instructor__content .text-area h2 br {
    display: none;
  }
  .instructor__content .text-area h2 span {
    margin-left: 20px;
  }
  .students__content .content-card {
    padding: 20px;
  }
  .students__content .content-card p:nth-child(2) {
    font-size: 14px;
  }
  .question .question-item {
    margin-bottom: 50px;
  }
  .question .question-item .question-title {
    font-size: 20px;
  }
  .question .question-item .box p {
    font-size: 22px;
  }
  .btn-area p {
    padding-top: 100px;
    margin-bottom: 50px;
  }
}
